/* CardList.css */
.card-list-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  /* margin-bottom: 20px; */
  font-family: 'Poppins', sans-serif;
  /* letter-spacing: 2px; */
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.4s;
}
h3{
  color: #fff;
  opacity: 0.5;

}
.search-input {
  width: auto;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #dfdfdf;
  border-radius: 10px;
  outline: none;
  padding: 15px;
  position: absolute;
  top: 20px;
  z-index: 100;
  left: 20px;
  right: 20px;
  position: sticky;
}
.descriptions{
  font-size: 16px;
  color: #fff !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}
@media screen and (max-width: 450px){
  .search-input {
    width: 85%;
  }
  .card-list-container {
    margin-left: 15px;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* .card {
  width: 340px;
  background-color: #33425B;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
} */
.card {
  position: relative;
  width: 340px;
  height: 150px;
  /* background-color: #000; */
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}
.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 120px;
  height: 450px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.card:hover {
  transform: scale(1.05);
}
.card-header{
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.card-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;

}

.card-content {
  padding: 10px;
}

.card-content h3 {
  margin: 0;
  font-size: 11px;
  /* margin-bottom: 10px; */
}

.card-content p {
  margin: 0;
  color: #666;
}
